[Desktop Entry]
Name=ToLoShare Material
GenericName=Tox Location Sharing
StartupWMClass=ToLoShareMainKt
Comment=ToLoShare
Exec=toloshare_material/bin/toloshare_material
Icon=toloshare_material
Terminal=false
Type=Application
Categories=Network;
X-GNOME-UsesNotifications=true
